/*  your css code here. If applicable */
.container{
	width:400px;
	height:100px;
	padding:30px;
	border:5px solid black;
	border-radius:40px;
	background-color:lightgray;
}
.green{
	display:inline-flex;
	background-color:green;
	height:100px;
	width:100px;
	border-radius:50%;
}
.yellow{
	display:inline-flex;
	background-color:yellow;
	height:100px;
	width:100px;
	border-radius:50%;
}
.red{
	display:inline-flex;
	background-color:red;
	height:100px;
	width:100px;
	border-radius:50%;
}